* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#ui {
  background: white;
  position: fixed;
  top: 1em;
  left: 1em;
}

label {
  display: block;
}
