* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#ui {
  background: rgba(200, 200, 200, 0.8);
  padding: 1em;
  position: fixed;
  top: 1em;
  left: 1em;
}

label {
  display: block;
  font-size: 0.8em;
  margin-bottom: 0.5em;
}

label span::before {
  content: ':';
  margin-right: 0.5em;
}

input {
  margin-bottom: 0.5em;
}
