.sketch-ui-panel, .sketch-ui-panel * {
  box-sizing: border-box;
}

.sketch-ui-panel {
  background: rgba(200, 200, 200, 0.7);
  font-family: Consolas, Menlo, 'Liberation Mono', Courier, monospace;
  left: 0.5em;
  max-height: 100vh;
  opacity: 0.5;
  overflow: auto;
  padding: 2em 0.5em 1em;
  position: fixed;
  resize: both;
  top: 0.5em;
  transform: translateX(0);
  transition: 100ms opacity;
}

.sketch-ui-panel:hover {
  opacity: 1;
}

.sketch-ui-panel.hidden {
  overflow: visible;
  transform: translateX(-500px);
}

.sketch-ui-panel .ui-toggle {
  margin-bottom: 1em;
  opacity: 1;
  transition: 100ms opacity, 200ms transform;
}

.sketch-ui-panel.hidden .ui-toggle {
  opacity: 0;
  transform: translateX(500px);
}

.sketch-ui-panel.hidden .ui-toggle:hover {
  opacity: 1;
}

.sketch-ui-panel label {
  display: block;
  font-size: 0.8em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.sketch-ui-panel label span {
  display: inline-block;
  font-weight: normal;
  overflow: hidden;
  vertical-align: bottom;
  width: 6em;
}

.sketch-ui-panel label span::before {
  content: ':';
  margin-right: 0.5em;
}

.sketch-ui-panel input, .sketch-ui-panel select {
  margin-bottom: 1em;
}

.sketch-ui-panel input + label, .sketch-ui-panel select + label {
  border-top: 1px solid rgb(180, 180, 180);
  padding-top: 1em;
}

.sketch-ui-panel button {
  border: 0;
}

.sketch-ui-panel button, .sketch-ui-panel select {
  font-family: inherit;
  padding: 0.5em;
}

.sketch-ui-button-wrapper {
  margin: 1em 0;
}

.sketch-ui-handle {
  text-align: center;
  background: darkblue;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  cursor: move;
}
